Power Automate/flows/flow1/definition.json
{"name":"05ed11b1-eecf-4873-9792-f8afd2fb89d8","id":"/providers/Microsoft.Flow/flows/05ed11b1-eecf-4873-9792-f8afd2fb89d8","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"CandidateResumeFlow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"migrationSourceId":"/subscriptions/689ae050-9b02-4149-8b91-e748fd66aca1/resourceGroups/d28d0ccfaf7d4e5bac08d543dfe014f5-defaultd28d0ccfaf7d4e5bac08d543dfe014f5-env/providers/Microsoft.Logic/workflows/05ed11b1-eecf-4873-9792-f8afd2fb89d8-azshadow","flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f429518a-4e0a-4e46-a285-c7ad70538d68","type":"User","tenantId":"d28d0ccf-af7d-4e5b-ac08-d543dfe014f5"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-09-16T12:32:55.501732Z","clientCreatedTime":"2025-09-15T01:05:44.0080505Z","connectionKeySavedTimeKey":"2025-09-16T12:32:55.501732Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"4e15b718-f0b0-4e9e-80ab-ff5032e5f06b"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"file":{"description":"Please select file or image","title":"ResumeFile","type":"object","properties":{"contentBytes":{"type":"string","format":"byte"},"name":{"type":"string"}},"x-ms-content-hint":"FILE","x-ms-dynamically-added":true},"text":{"description":"Please enter your input","title":"Job Role","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"required":["file","text"]}}}},"actions":{"Compose_-_Structure_ResumeAnalysis":{"runAfter":{"Run_a_prompt_-_ResumeAnalysis":["Succeeded"]},"metadata":{"operationMetadataId":"8c86967c-6ca6-4dcd-8cd8-2e0e0bfa6343"},"type":"Compose","inputs":"@{replace(replace(outputs('Run_a_prompt_-_ResumeAnalysis')?['body/responsev2/predictionOutput/text'], '```json',''),'```','')}\n"},"Parse_JSON_-_ResumeAnalysis":{"runAfter":{"Compose_-_Structure_ResumeAnalysis":["Succeeded"]},"metadata":{"operationMetadataId":"9e9ef117-c5db-4cda-9417-02088510496f"},"type":"ParseJson","inputs":{"content":"@outputs('Compose_-_Structure_ResumeAnalysis')","schema":{"type":"object","properties":{"ExtractedSkills":{"type":"array","items":{"type":"string"}},"RoleSkills":{"type":"array","items":{"type":"string"}},"MatchedSkills":{"type":"array","items":{"type":"string"}},"MissingSkills":{"type":"array","items":{"type":"string"}},"ATSScore":{"type":"number"},"ScoringBreakdown":{"type":"object","properties":{"KeywordSkillsMatch":{"type":"number"},"ExperienceEducation":{"type":"number"},"ResumeSectionsQuality":{"type":"number"},"FormattingReadability":{"type":"number"}},"required":["KeywordSkillsMatch","ExperienceEducation","ResumeSectionsQuality","FormattingReadability"]},"SectionWiseScores":{"type":"object","properties":{"Summary":{"type":"number"},"Skills":{"type":"number"},"Experience":{"type":"number"},"Education":{"type":"number"},"Projects":{"type":"number"}},"required":["Summary","Skills","Experience","Education","Projects"]},"JobRoleAlignment":{"type":"string"},"SuggestionsToImprove":{"type":"array","items":{"type":"string"}}},"required":["ExtractedSkills","RoleSkills","MatchedSkills","MissingSkills","ATSScore","ScoringBreakdown","SectionWiseScores","JobRoleAlignment","SuggestionsToImprove"]}}},"Recognize_text_in_image_or_document_-_Extract_Text_from_Resume":{"runAfter":{},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_textrecognition","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"052bd54b-4d25-499f-a60e-63d8c60e463b"},"type":"OpenApiConnection","inputs":{"parameters":{"item/requestv2/base64Encoded":"@triggerBody()?['file']?['contentBytes']","recordId":"86419a67-205a-454f-b6fc-601394f2786d"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_textrecognition"},"authentication":"@parameters('$authentication')"}},"Compose_-_Format_the_Structure":{"runAfter":{"Run_a_prompt_-_Structure_the_Resume_Content_in_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"a2d88acb-1157-4943-8a7a-30cafe96ef44"},"type":"Compose","inputs":"@replace(replace(outputs('Run_a_prompt_-_Structure_the_Resume_Content_in_JSON')?['body/responsev2/predictionOutput/text'], '```json', ''), '```', '')\r\n"},"Parse_JSON_-_Extract_resume_fields":{"runAfter":{"Compose_-_Format_the_Structure":["Succeeded"]},"metadata":{"operationMetadataId":"522fdd3b-7686-4e71-b7df-c8fc2e186c04"},"type":"ParseJson","inputs":{"content":"@outputs('Compose_-_Format_the_Structure')","schema":{"type":"object","properties":{"Name":{"type":["string","null"]},"Email":{"type":["string","null"]},"Phone":{"type":["string","number","null"]},"Professional Summary":{"type":["string","null"]},"Skills":{"type":["string","array","null"],"items":{"type":["string","null"]}},"Experience":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Education":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Projects":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Courses":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Certifications":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Achievements":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Links":{"type":["array","null"],"items":{"type":["string","null"]}},"YearsOfExperience":{"type":["string","null"]},"Availability":{"type":["string","null"]}},"additionalProperties":true}}},"Create_file_-_Store_Resume_file_in_library":{"runAfter":{"Compose_-_Structure_Links":["Succeeded"]},"metadata":{"operationMetadataId":"95939dd2-57b8-4690-b40d-0f033f6f10c5"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://akiracoin.sharepoint.com/sites/PowerAppsUpload","folderPath":"/CandidateResumes","name":"@{concat(body('Parse_JSON_-_Extract_resume_fields')?['Name'], '_', triggerBody()?['text'], '_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.pdf')}\n","body":"@triggerBody()?['file']?['contentBytes']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_item_-_Store_Candidate_details":{"runAfter":{"Create_file_-_Store_Resume_file_in_library":["Succeeded"]},"metadata":{"operationMetadataId":"bc1194a9-5223-4802-80d0-df7b01b2dedb"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://akiracoin.sharepoint.com/sites/PowerAppsUpload","table":"475448f4-69d7-4b4d-b205-8b00067eb3f0","item/CandidateName":"@body('Parse_JSON_-_Extract_resume_fields')?['Name']","item/Email":"@body('Parse_JSON_-_Extract_resume_fields')?['Email']","item/Phone":"@body('Parse_JSON_-_Extract_resume_fields')?['Phone']","item/ProfessionalSummary":"@body('Parse_JSON_-_Extract_resume_fields')?['Professional Summary']","item/Skills":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Skills']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Skills'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Skills']\r\n)\r\n","item/Experience":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Experience']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Experience'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Experience']\r\n)\r\n","item/Education":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Education']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Education'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Education']\r\n)\r\n","item/Projects":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Projects']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Projects'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Projects']\r\n)\r\n","item/Certifications":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Certifications']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Certifications'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Certifications']\r\n)\r\n","item/CoursesDone":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Courses']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Courses'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Courses']\r\n)\r\n","item/Achievements":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Achievements']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Achievements'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Achievements']\r\n)\r\n","item/Links":"@outputs('Compose_-_Structure_Links')","item/ResumeFileLink":"@concat('https://akiracoin.sharepoint.com/sites/PowerAppsUpload', outputs('Create_file_-_Store_Resume_file_in_library')?['body/Path'])","item/YearsofExperience":"@body('Parse_JSON_-_Extract_resume_fields')?['YearsOfExperience']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Run_a_prompt_-_ResumeAnalysis":{"runAfter":{"Create_item_-_Store_Candidate_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_customprompt","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"d24358d2-37c1-498b-9701-6a232f2ff5e0"},"type":"OpenApiConnection","inputs":{"parameters":{"recordId":"6d306f40-685a-454a-a02a-17141fd3d627","item/requestv2/Job_20Title":"@triggerBody()?['text']","item/requestv2/Resume_20Content":"@outputs('Run_a_prompt_-_Structure_the_Resume_Content_in_JSON')?['body/responsev2/predictionOutput/text']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_customprompt"},"authentication":"@parameters('$authentication')"}},"Create_item":{"runAfter":{"Parse_JSON_-_ResumeAnalysis":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://akiracoin.sharepoint.com/sites/PowerAppsUpload","table":"b30f05b0-d685-413c-9345-309aee1eeff0","item/Title":"@outputs('Create_item_-_Store_Candidate_details')?['body/CandidateName']","item/CandidateID/Id":"@outputs('Create_item_-_Store_Candidate_details')?['body/ID']","item/SelectedRole":"@triggerBody()?['text']","item/RoleSkills":"@if(\r\n  startsWith(string(body('Parse_JSON_-_ResumeAnalysis')['RoleSkills']), '['),\r\n  join(body('Parse_JSON_-_ResumeAnalysis')['RoleSkills'], decodeUriComponent('%0A')),\r\nbody('Parse_JSON_-_ResumeAnalysis')['RoleSkills']\r\n)\r\n","item/ExtractedSkills":"@if(\r\n  startsWith(string(body('Parse_JSON_-_ResumeAnalysis')['ExtractedSkills']), '['),\r\n  join(body('Parse_JSON_-_ResumeAnalysis')['ExtractedSkills'], decodeUriComponent('%0A')),\r\n body('Parse_JSON_-_ResumeAnalysis')['ExtractedSkills']\r\n)\r\n","item/MatchedSkills":"@if(\r\n  startsWith(string(body('Parse_JSON_-_ResumeAnalysis')['MatchedSkills']), '['),\r\n  join(body('Parse_JSON_-_ResumeAnalysis')['MatchedSkills'], decodeUriComponent('%0A')),\r\n body('Parse_JSON_-_ResumeAnalysis')['MatchedSkills']\r\n)\r\n","item/MissingSkills":"@if(\r\n  startsWith(string(body('Parse_JSON_-_ResumeAnalysis')['MissingSkills']), '['),\r\n  join(body('Parse_JSON_-_ResumeAnalysis')['MissingSkills'], decodeUriComponent('%0A')),\r\n body('Parse_JSON_-_ResumeAnalysis')['MissingSkills']\r\n)\r\n","item/ATSScore":"@body('Parse_JSON_-_ResumeAnalysis')['ATSScore']","item/KeywordSkillsMatch":"@body('Parse_JSON_-_ResumeAnalysis')?['ScoringBreakdown']?['KeywordSkillsMatch']","item/ExperienceEducation":"@body('Parse_JSON_-_ResumeAnalysis')?['ScoringBreakdown']?['ExperienceEducation']","item/FormattingStructure":"@body('Parse_JSON_-_ResumeAnalysis')?['ScoringBreakdown']?['FormattingReadability']","item/Readability":"@body('Parse_JSON_-_ResumeAnalysis')?['ScoringBreakdown']?['ResumeSectionsQuality']","item/SkillsScore":"@body('Parse_JSON_-_ResumeAnalysis')?['SectionWiseScores']?['Skills']","item/ExperienceScore":"@body('Parse_JSON_-_ResumeAnalysis')?['SectionWiseScores']?['Experience']","item/EducationScore":"@body('Parse_JSON_-_ResumeAnalysis')?['SectionWiseScores']?['Education']","item/SummaryScore":"@body('Parse_JSON_-_ResumeAnalysis')?['SectionWiseScores']?['Summary']","item/ProjectsScore":"@body('Parse_JSON_-_ResumeAnalysis')?['SectionWiseScores']?['Projects']","item/JobRoleAlignment":"@body('Parse_JSON_-_ResumeAnalysis')['JobRoleAlignment']","item/SuggestionsToImprove":"@join(body('Parse_JSON_-_ResumeAnalysis')?['SuggestionsToImprove'], decodeUriComponent('%0A'))\r\n","item/ResumeFileLink":"@concat('https://akiracoin.sharepoint.com/sites/PowerAppsUpload', outputs('Create_file_-_Store_Resume_file_in_library')?['body/Path'])"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Create_item":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"id":{"title":"ID","type":"number","x-ms-content-hint":"NUMBER","x-ms-dynamically-added":true}},"additionalProperties":{}},"statusCode":200,"body":{"id":"@outputs('Create_item')?['body/ID']"}}},"Run_a_prompt_-_Structure_the_Resume_Content_in_JSON":{"runAfter":{"Recognize_text_in_image_or_document_-_Extract_Text_from_Resume":["Succeeded"]},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_customprompt","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"f3df12d5-75f6-46c5-be87-0fc5c3975bb4"},"type":"OpenApiConnection","inputs":{"parameters":{"recordId":"88725a77-d634-4a77-9a3a-13a841b98cc3","item/requestv2/Resume_20Text":"@outputs('Recognize_text_in_image_or_document_-_Extract_Text_from_Resume')?['body/responsev2/predictionOutput/fullText']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_customprompt"},"authentication":"@parameters('$authentication')"}},"Compose_-_Structure_Links":{"runAfter":{"Parse_JSON_-_Extract_resume_fields":["Succeeded"]},"type":"Compose","inputs":"@if(\r\n  empty(body('Parse_JSON_-_Extract_resume_fields')?['Links']),\r\n  'No links provided',\r\n  join(\r\n    if(\r\n      startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Links']), '['),\r\n      body('Parse_JSON_-_Extract_resume_fields')?['Links'],\r\n      createArray(body('Parse_JSON_-_Extract_resume_fields')?['Links'])\r\n    ),\r\n    decodeUriComponent('%0A')\r\n  )\r\n)\r\n"}},"description":""},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-18e6adee-e08e-4b23-8a5e-1018d2aed054","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified","apiName":"commondataserviceforapps","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"95f8382add2c4303afce95f084d674f1","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}