Power Automate/flows/definition.json
{"name":"94b83d76-6f68-478e-96e5-f246f0af0750","id":"/providers/Microsoft.Flow/flows/94b83d76-6f68-478e-96e5-f246f0af0750","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Copy of - Get Resume Skills Using AI Prompt Recruiter","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"migrationSourceId":"/subscriptions/689ae050-9b02-4149-8b91-e748fd66aca1/resourceGroups/d28d0ccfaf7d4e5bac08d543dfe014f5-defaultd28d0ccfaf7d4e5bac08d543dfe014f5-env/providers/Microsoft.Logic/workflows/94b83d76-6f68-478e-96e5-f246f0af0750-azshadow","flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f429518a-4e0a-4e46-a285-c7ad70538d68","type":"User","tenantId":"d28d0ccf-af7d-4e5b-ac08-d543dfe014f5"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-09-17T10:14:48.8076787Z","clientCreatedTime":"2025-09-15T01:06:21.9607473Z","connectionKeySavedTimeKey":"2025-09-17T10:14:48.8076787Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"93664788-c76f-42c2-8154-9e14fc6dfd24"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"file":{"description":"Please select file or image","title":"Resume","type":"object","properties":{"name":{"type":"string"},"contentBytes":{"type":"string","format":"byte"}},"x-ms-content-hint":"FILE","x-ms-dynamically-added":true},"file_1":{"description":"Please select file or image","title":"JD","type":"object","properties":{"name":{"type":"string"},"contentBytes":{"type":"string","format":"byte"}},"x-ms-content-hint":"FILE","x-ms-dynamically-added":true}},"required":["file","file_1"]}}}},"actions":{"Run_a_prompt_-_ResumeAnalysis":{"runAfter":{"Create_item_-_Store_JD_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_customprompt","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"d24358d2-37c1-498b-9701-6a232f2ff5e0"},"type":"OpenApiConnection","inputs":{"parameters":{"recordId":"f5fae218-ce8d-49ce-91c8-b736787fe16f","item/requestv2/Resume_20Content":"@outputs('Run_a_prompt_-_Structure_the_Resume_Content_in_JSON')?['body/responsev2/predictionOutput/text']","item/requestv2/JD_20extracted_20Skills":"@outputs('Run_a_prompt_-_Extract_JD_skills')?['body/responsev2/predictionOutput/text']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_customprompt"},"authentication":"@parameters('$authentication')"}},"Compose_-_Structure_ResumeAnalysis":{"runAfter":{"Run_a_prompt_-_ResumeAnalysis":["Succeeded"]},"metadata":{"operationMetadataId":"8c86967c-6ca6-4dcd-8cd8-2e0e0bfa6343"},"type":"Compose","inputs":"@{replace(replace(outputs('Run_a_prompt_-_ResumeAnalysis')?['body/responsev2/predictionOutput/text'], '```json',''),'```','')}\n"},"Parse_JSON_-_ResumeAnalysis":{"runAfter":{"Compose_-_Structure_ResumeAnalysis":["Succeeded"]},"metadata":{"operationMetadataId":"9e9ef117-c5db-4cda-9417-02088510496f"},"type":"ParseJson","inputs":{"content":"@outputs('Compose_-_Structure_ResumeAnalysis')","schema":{"type":"object","properties":{"MatchedSkills":{"type":"array","items":{"type":"string"}},"MissingSkills":{"type":"array","items":{"type":"string"}},"MatchedPreferredSkills":{"type":"array","items":{"type":"string"}},"RelevantEvidence":{"type":"array","items":{"type":"string"}},"CandidateFitSummary":{"type":["string","null"]},"ATSScore":{"type":"number"},"ScoringBreakdown":{"type":"object","properties":{"SkillsMatch":{"type":"number"},"RelevantExperienceProjects":{"type":"number"},"EducationCertifications":{"type":"number"},"ResumeQuality":{"type":"number"}}},"JobRoleAlignment":{"type":["string","null"],"description":"Short recruiter-friendly statement (e.g., 'Strong match for HR Assistant role', 'Partial match – lacks HRIS experience', 'Weak alignment – fresher without relevant background')."}},"required":["MatchedSkills","MissingSkills","MatchedPreferredSkills","RelevantEvidence","CandidateFitSummary","ATSScore","ScoringBreakdown","JobRoleAlignment"]}}},"Create_item_-_Resume_analysis":{"runAfter":{"Parse_JSON_-_ResumeAnalysis":["Succeeded"]},"metadata":{"operationMetadataId":"2c7671b5-7ba8-4846-971c-b1361de983cb"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://akiracoin.sharepoint.com/sites/PowerAppsUpload","table":"9fbf3398-bc1c-4d7e-84b8-9a23c8798bc5","item/Title":"@body('Parse_JSON_-_JD_skills')?['RoleTitle']","item/CandidateID/Id":"@outputs('Create_item_-_Store_Candidate_details')?['body/ID']","item/CandidateName":"@outputs('Create_item_-_Store_Candidate_details')?['body/CandidateName']","item/JDrole":"@outputs('Create_item_-_Store_JD_details')?['body/Title']","item/JobID/Id":"@outputs('Create_item_-_Store_JD_details')?['body/ID']","item/ResumeFileLink":"@concat('https://akiracoin.sharepoint.com/sites/PowerAppsUpload', outputs('Create_file_-_Store_Resume_file_in_library')?['body/Path'])","item/ResumeScore":"@body('Parse_JSON_-_ResumeAnalysis')['ATSScore']","item/MatchedSkills":"@if(\r\n  startsWith(string(body('Parse_JSON_-_ResumeAnalysis')['MatchedSkills']), '['),\r\n  join(body('Parse_JSON_-_ResumeAnalysis')['MatchedSkills'], decodeUriComponent('%0A')),\r\n body('Parse_JSON_-_ResumeAnalysis')['MatchedSkills']\r\n)\r\n","item/MissingSkills":"@if(\r\n  startsWith(string(body('Parse_JSON_-_ResumeAnalysis')['MissingSkills']), '['),\r\n  join(body('Parse_JSON_-_ResumeAnalysis')['MissingSkills'], decodeUriComponent('%0A')),\r\n body('Parse_JSON_-_ResumeAnalysis')['MissingSkills']\r\n)\r\n","item/Highlights":"@if(\r\n  startsWith(string(body('Parse_JSON_-_ResumeAnalysis')['RelevantEvidence']), '['),\r\n  join(body('Parse_JSON_-_ResumeAnalysis')['RelevantEvidence'], decodeUriComponent('%0A')),\r\n body('Parse_JSON_-_ResumeAnalysis')['RelevantEvidence']\r\n)\r\n","item/MatchedPreferredSkills":"@if(\r\n  startsWith(string(body('Parse_JSON_-_ResumeAnalysis')['MatchedPreferredSkills']), '['),\r\n  join(body('Parse_JSON_-_ResumeAnalysis')['MatchedPreferredSkills'], decodeUriComponent('%0A')),\r\n body('Parse_JSON_-_ResumeAnalysis')['MatchedPreferredSkills']\r\n)\r\n","item/CandidateFitSummary":"@if(\r\n  startsWith(string(body('Parse_JSON_-_ResumeAnalysis')['CandidateFitSummary']), '['),\r\n  join(body('Parse_JSON_-_ResumeAnalysis')['CandidateFitSummary'], decodeUriComponent('%0A')),\r\n body('Parse_JSON_-_ResumeAnalysis')['CandidateFitSummary']\r\n)\r\n","item/SkillsMatchScore":"@body('Parse_JSON_-_ResumeAnalysis')?['ScoringBreakdown']?['SkillsMatch']","item/ExperienceProjectsScore":"@body('Parse_JSON_-_ResumeAnalysis')?['ScoringBreakdown']?['RelevantExperienceProjects']","item/EducationCertificationsScore":"@body('Parse_JSON_-_ResumeAnalysis')?['ScoringBreakdown']?['EducationCertifications']","item/ResumeQualityScore":"@body('Parse_JSON_-_ResumeAnalysis')?['ScoringBreakdown']?['ResumeQuality']","item/JobRoleAlignment":"@body('Parse_JSON_-_ResumeAnalysis')['JobRoleAlignment']","item/JDfilelink":"@concat('https://akiracoin.sharepoint.com/sites/PowerAppsUpload', outputs('Create_file_-_store_JD_file')?['body/Path'])"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Recognize_text_in_image_or_document":{"runAfter":{"Create_item_-_Store_Candidate_details":["Succeeded"]},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_textrecognition","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"349eba57-729b-4432-a47e-988a0ee39391"},"type":"OpenApiConnection","inputs":{"parameters":{"item/requestv2/base64Encoded":"@triggerBody()?['file_1']?['contentBytes']","recordId":"86419a67-205a-454f-b6fc-601394f2786d"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_textrecognition"},"authentication":"@parameters('$authentication')"}},"Run_a_prompt_-_Extract_JD_skills":{"runAfter":{"Recognize_text_in_image_or_document":["Succeeded"]},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_customprompt","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"3917f2c9-d936-4e75-9d70-927d46e352d8"},"type":"OpenApiConnection","inputs":{"parameters":{"recordId":"ab41c792-6ce8-40d9-9665-ef78f81bbf9a","item/requestv2/Job_20Description_20Text":"@outputs('Recognize_text_in_image_or_document')?['body/responsev2/predictionOutput/fullText']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_customprompt"},"authentication":"@parameters('$authentication')"}},"Parse_JSON_-_JD_skills":{"runAfter":{"Run_a_prompt_-_Extract_JD_skills":["Succeeded"]},"metadata":{"operationMetadataId":"98d6ef2f-fed2-4f8b-bdb8-f396921a9949"},"type":"ParseJson","inputs":{"content":"@outputs('Run_a_prompt_-_Extract_JD_skills')?['body/responsev2/predictionOutput/text']","schema":{"type":"object","properties":{"RoleTitle":{"type":["string","null"]},"CompanyName":{"type":["string","null"]},"JobSummary":{"type":["string","null"]},"Responsibilities":{"type":["array","null"],"items":{"type":"string"}},"RequiredSkills":{"type":["array","null"],"items":{"type":"string"}},"PreferredSkills":{"type":["array","null"],"items":{"type":"string"}},"Qualifications":{"type":["array","null"],"items":{"type":"string"}},"ExperienceRequired":{"type":["string","null"]}},"additionalProperties":false}}},"Create_item_-_Store_JD_details":{"runAfter":{"Create_file_-_store_JD_file":["Succeeded"]},"metadata":{"operationMetadataId":"d08fd2ce-7240-4d6f-b10a-27dc7549ebe9"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://akiracoin.sharepoint.com/sites/PowerAppsUpload","table":"1a938c14-eb2b-40e7-be5b-8646c8ce3010","item/Title":"@coalesce(body('Parse_JSON_-_JD_skills')?['RoleTitle'], 'No Job Title Mentioned')\r\n","item/Companyname":"@coalesce(body('Parse_JSON_-_JD_skills')?['CompanyName'], 'No Company Name Mentioned')\r\n","item/Jobsummary":"@coalesce(body('Parse_JSON_-_JD_skills')?['JobSummary'], 'No Job summary')\r\n","item/Responsibilities":"@coalesce(join(coalesce(body('Parse_JSON_-_JD_skills')?['Responsibilities'], createArray()), ', '), 'No Responsibilities')\r\n","item/RequiredSkills":"@coalesce(join(coalesce(body('Parse_JSON_-_JD_skills')?['RequiredSkills'], createArray()), ', '), 'No RequiredSkills')\r\n","item/PreferredSkills":"@coalesce(join(coalesce(body('Parse_JSON_-_JD_skills')?['PreferredSkills'], createArray()), ', '), 'No PreferredSkills')\r\n","item/Qualifications":"@coalesce(join(coalesce(body('Parse_JSON_-_JD_skills')?['Qualifications'], createArray()), ', '), 'No Qualifications')\r\n","item/ExperienceRequired":"@coalesce(body('Parse_JSON_-_JD_skills')?['ExperienceRequired'], 'No Experience Mentioned')\r\n","item/JDfilelink":"@concat('https://akiracoin.sharepoint.com/sites/PowerAppsUpload',outputs('Create_file_-_store_JD_file')?['body/Path'])"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Recognize_text_in_image_or_document_-_Extract_Text_from_Resume":{"runAfter":{},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_textrecognition","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"052bd54b-4d25-499f-a60e-63d8c60e463b"},"type":"OpenApiConnection","inputs":{"parameters":{"item/requestv2/base64Encoded":"@triggerBody()?['file']?['contentBytes']","recordId":"86419a67-205a-454f-b6fc-601394f2786d"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_textrecognition"},"authentication":"@parameters('$authentication')"}},"Run_a_prompt_-_Structure_the_Resume_Content_in_JSON":{"runAfter":{"Recognize_text_in_image_or_document_-_Extract_Text_from_Resume":["Succeeded"]},"metadata":{"flowSystemMetadata":{"portalOperationId":"aibuilderpredict_customprompt","portalOperationGroup":"aibuilder","portalOperationApiDisplayNameOverride":"AI Builder","portalOperationIconOverride":"https://content.powerapps.com/resource/makerx/static/pauto/images/designeroperations/aiBuilderNew.51dbdb6b.png","portalOperationBrandColorOverride":"#0A76C4","portalOperationApiTierOverride":"Standard"},"operationMetadataId":"f3df12d5-75f6-46c5-be87-0fc5c3975bb4"},"type":"OpenApiConnection","inputs":{"parameters":{"recordId":"88725a77-d634-4a77-9a3a-13a841b98cc3","item/requestv2/Resume_20Text":"@outputs('Recognize_text_in_image_or_document_-_Extract_Text_from_Resume')?['body/responsev2/predictionOutput/fullText']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"aibuilderpredict_customprompt"},"authentication":"@parameters('$authentication')"}},"Compose_-_Format_the_Structure":{"runAfter":{"Run_a_prompt_-_Structure_the_Resume_Content_in_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"a2d88acb-1157-4943-8a7a-30cafe96ef44"},"type":"Compose","inputs":"@replace(replace(outputs('Run_a_prompt_-_Structure_the_Resume_Content_in_JSON')?['body/responsev2/predictionOutput/text'], '```json', ''), '```', '')\r\n"},"Parse_JSON_-_Extract_resume_fields":{"runAfter":{"Compose_-_Format_the_Structure":["Succeeded"]},"metadata":{"operationMetadataId":"522fdd3b-7686-4e71-b7df-c8fc2e186c04"},"type":"ParseJson","inputs":{"content":"@outputs('Compose_-_Format_the_Structure')","schema":{"type":"object","properties":{"Name":{"type":["string","null"]},"Email":{"type":["string","null"]},"Phone":{"type":["string","number","null"]},"Professional Summary":{"type":["string","null"]},"Skills":{"type":["string","array","null"],"items":{"type":["string","null"]}},"Experience":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Education":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Projects":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Courses":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Certifications":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Achievements":{"type":["array","string","null"],"items":{"type":["string","null"]}},"Links":{"type":["array","null"],"items":{"type":["string","null"]}},"YearsOfExperience":{"type":["string","null"]},"Availability":{"type":["string","null"]}},"additionalProperties":true}}},"Create_file_-_Store_Resume_file_in_library":{"runAfter":{"Compose_-_Structure_Links":["Succeeded"]},"metadata":{"operationMetadataId":"95939dd2-57b8-4690-b40d-0f033f6f10c5"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://akiracoin.sharepoint.com/sites/PowerAppsUpload","folderPath":"/CandidateResumes","name":"@{concat(body('Parse_JSON_-_Extract_resume_fields')?['Name'], '_', triggerBody()?['text'], '_', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '.pdf')}\n","body":"@triggerBody()?['file']?['contentBytes']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_item_-_Store_Candidate_details":{"runAfter":{"Create_file_-_Store_Resume_file_in_library":["Succeeded"]},"metadata":{"operationMetadataId":"bc1194a9-5223-4802-80d0-df7b01b2dedb"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://akiracoin.sharepoint.com/sites/PowerAppsUpload","table":"3769f01d-93f1-4dac-98ef-50adcb445ef0","item/CandidateName":"@body('Parse_JSON_-_Extract_resume_fields')?['Name']","item/Email":"@body('Parse_JSON_-_Extract_resume_fields')?['Email']","item/Phone":"@body('Parse_JSON_-_Extract_resume_fields')?['Phone']","item/ProfessionalSummary":"@body('Parse_JSON_-_Extract_resume_fields')?['Professional Summary']","item/Skills":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Skills']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Skills'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Skills']\r\n)\r\n","item/Experience":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Experience']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Experience'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Experience']\r\n)\r\n","item/Education":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Education']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Education'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Education']\r\n)\r\n","item/Projects":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Projects']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Projects'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Projects']\r\n)\r\n","item/Cerifications":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Certifications']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Certifications'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Certifications']\r\n)\r\n","item/CourcesDone":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Courses']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Courses'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Courses']\r\n)\r\n","item/Achievements":"@if(\r\n  startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Achievements']), '['),\r\n  join(body('Parse_JSON_-_Extract_resume_fields')?['Achievements'], decodeUriComponent('%0A')),\r\n  body('Parse_JSON_-_Extract_resume_fields')?['Achievements']\r\n)\r\n","item/Links":"@outputs('Compose_-_Structure_Links')","item/ResumeFileLink":"@concat('https://akiracoin.sharepoint.com/sites/PowerAppsUpload', outputs('Create_file_-_Store_Resume_file_in_library')?['body/Path'])","item/Availability":"@body('Parse_JSON_-_Extract_resume_fields')?['Availability']","item/YearsofExperience":"@body('Parse_JSON_-_Extract_resume_fields')?['YearsOfExperience']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_-_store_JD_file":{"runAfter":{"Parse_JSON_-_JD_skills":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://akiracoin.sharepoint.com/sites/PowerAppsUpload","folderPath":"/JD profiles","name":"@{concat(triggerBody()?['file_1']?['name'],utcNow())}.pdf","body":"@triggerBody()?['file_1']?['contentBytes']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Compose_-_Structure_Links":{"runAfter":{"Parse_JSON_-_Extract_resume_fields":["Succeeded"]},"type":"Compose","inputs":"@if(\r\n  empty(body('Parse_JSON_-_Extract_resume_fields')?['Links']),\r\n  'No links provided',\r\n  join(\r\n    if(\r\n      startsWith(string(body('Parse_JSON_-_Extract_resume_fields')?['Links']), '['),\r\n      body('Parse_JSON_-_Extract_resume_fields')?['Links'],\r\n      createArray(body('Parse_JSON_-_Extract_resume_fields')?['Links'])\r\n    ),\r\n    decodeUriComponent('%0A')\r\n  )\r\n)\r\n"}}},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-18e6adee-e08e-4b23-8a5e-1018d2aed054","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified","apiName":"commondataserviceforapps","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"95f8382add2c4303afce95f084d674f1","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}